.logo-icon {
    width: ;
    height: ;
}

.fa-location-dot {
    color: #353535;
    width: 12px;
    height: 16px;
}

.locationbtn {
    color: #353535;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
}