:root {
    --primary-color:#9356DC;
    --secondary-color: #FF79DA;
    --tertiary-color: #99E2D0;
    --background: #F6F6F6;
    --other: #353535;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6F6F6;
    box-sizing: border-box;
    margin: auto; /* centers page, left:auto, right:auto */ /* Remove the margin in all browsers.*/
    padding: 0px 0px; /* top/bottom 0, sides 0 */
    max-width: 375px;; /*1440px*/
    min-width: 375px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; /* keeps content centered when window stretched */
}

/* desktop size*/
h1 {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 40px;
    font-weight: 700;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
/*
h2 {
same as mobile view
}*/

/*h3 {
same as mobile view
}*/

/* mobile size*/
h1 {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 24px;
    font-weight: 700;
    align-items: center;
    padding: 0;
    margin: 0;
}
h2 {
    font-family: 'Roboto', sans-serif;
    color: #353535;
    font-size: 18px;
    font-weight: 300;
    align-items: center;
    padding: 0;
    margin: 0;
}
/*main section headings*/
h3 {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 24px;
    font-weight: 700;
    align-items: center;
    padding: 0;
    margin: 0;
}
/*font-family: 'Shrikhand', serif;*/